<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="faq">
    <h1 class="jumbotron-heading text-muted">{{ i18n "faqHeader"}}</h1>
</div>

<div class="row">
    <div class="col-sm-12 pb-4 d-flex justify-content-center">
        <div class="list-group text-muted">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq13Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq13Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq15Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq15Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq17Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq17Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq2Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq2Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq16Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq16Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq11Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq11Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq18Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq18Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq1Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq1Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq3Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq3Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq4Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq4Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq5Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq5Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq6Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq6Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq7Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq7Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq8Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq8Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq9Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq9Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq10Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq10Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq12Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq12Answer" | safeHTML }}</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-muted">{{ i18n "faq14Question" | safeHTML }}</h5>
                </div>
                <p class="mb-1 text-muted">{{ i18n "faq14Answer" | safeHTML }}</p>
            </div>
        </div>
    </div>
</div>