<div class="col-md-4">
    <div class="d-flex justify-content-center p-2">
        <img class="feature-img" src="/assets/img/logo.png" alt="kozy macro logo" />
    </div>
    <div class="d-flex justify-content-center pl-5 pr-5 pb-5 pt-4">
        <p class="text-muted text-center">
            {{ i18n "featureKozymacro" | safeHTML }}
        </p>
    </div>
</div>
<div class="col-md-4">
    <div class="d-flex justify-content-center p-2">
        <img class="feature-img" src="/assets/img/secure.png" alt="secure knight macro" />
    </div>
    <div class="d-flex justify-content-center pl-5 pr-5 pb-5 pt-4">
        <p class="text-muted text-center">
            {{ i18n "featureSafe" | safeHTML }}
        </p>
    </div>
</div>
<div class="col-md-4">
    <div class="d-flex justify-content-center p-2">
        <img class="feature-img" src="/assets/img/play.png" alt="play knight macro" />
    </div>
    <div class="d-flex justify-content-center pl-5 pr-5 pb-5 pt-4">
        <p class="text-muted text-center">
            {{ i18n "featureNoConfiguration" | safeHTML }}
        </p>
    </div>
</div>
<div class="col-md-4">
    <div class="d-flex justify-content-center p-2">
        <img class="feature-img" src="/assets/img/bash.png" alt="bash" />
    </div>
    <div class="d-flex justify-content-center pl-5 pr-5 pb-5 pt-4">
        <p class="text-muted text-center">
            {{ i18n "featureMadeWithLove" | safeHTML }}
        </p>
    </div>
</div>
<div class="col-md-4">
    <div class="d-flex justify-content-center p-2">
        <img class="feature-img" src="/assets/img/system.png" alt="kozy knight macro system usage" />
    </div>
    <div class="d-flex justify-content-center pl-5 pr-5 pb-5 pt-4">
        <p class="text-muted text-center">
            {{ i18n "featureResourceUsage" | safeHTML }}
        </p>
    </div>
</div>
<div class="col-md-4">
    <div class="d-flex justify-content-center p-2">
        <img class="feature-img" src="/assets/img/book.png" alt="book" />
    </div>
    <div class="d-flex justify-content-center pl-5 pr-5 pb-5 pt-4">
        <p class="text-muted text-center">
            {{ i18n "featureTutorials" | safeHTML }}
        </p>
    </div>
</div>
