<footer class="text-muted bg-white">
    <div class="container-lg">
        <p class="float-right">
            <a href="#">{{ i18n "backToTop" }}</a>
        </p>
        <p>{{ i18n "rights" }} <a href="/">kozymacro.com</a> {{ i18n "made_with" | safeHTML }}</p>
    </div>
</footer>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

<!-- Site scripts -->
<script src="/assets/js/index.js"></script>
<script src="/assets/js/download.js?v=3"></script>
<script src="/assets/js/chat.js?v=1"></script>
<script src="/assets/js/videos.js?v=3"></script>

{{ if eq .Site.Params.paymentMethod "stripe" }}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/assets/js/stripe.js?v=9"></script>
{{ end }}
