<div class="row mt-3" id="guide"></div>

<div class="row">
<div class="col-12 d-flex justify-content-center">
<div class="card-deck">
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/guide.png" class="img-guide" />{{ i18n "quickStart" }}</h6>
            <p class="card-text text-muted">{{ i18n "quickStartContent" }}</p>
            <a href="/docs/img/installation.png" class="card-link" target="_blank">{{ i18n "setup" }}</a>
            <hr style="margin-top:0.5rem;margin-bottom:0.5rem;"/>
            <a href="/docs/img/quick-start.png" class="card-link" target="_blank">{{ i18n "firstSettings" }}</a>
            <hr style="margin-top:0.5rem;margin-bottom:0.5rem;"/>
            <a href="/docs/img/skillbar.png" class="card-link" target="_blank">Skill Bar</a>
            <hr style="margin-top:0.5rem;margin-bottom:0.5rem;"/>
            <a href="/docs/img/skill-settings.png" class="card-link" target="_blank">{{ i18n "skillSettings" }}</a>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/attack.png" class="img-guide" />{{ i18n "fastAttack" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "fastAttackContent" }}
            </p>
            <a href="/docs/img/fast-attack.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#rogue-skills' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/attack-combo.png" class="img-guide" />{{ i18n "comboAttack" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "comboAttackContent" }}
            </p>
            <a href="/docs/img/attack-combo.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#priest-attack-combo' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Warrior</span>
            <span class="badge badge-secondary">Priest</span>
            <span class="badge badge-info">Farm</span>
            <span class="badge badge-info">PK</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/asas-combo.png" class="img-guide" />{{ i18n "asasCombo" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "asasComboContent" }}
            </p>
            <a href="/docs/img/asas-combo.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#rogue-asas-combo' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Assassin</span>
            <span class="badge badge-info">Farm</span>
            <span class="badge badge-info">PK</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/monster-select.png" class="img-guide" />{{ i18n "monsterSelect" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "monsterSelectContent" }}
            </p>
            <a href="/docs/img/monster-select.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#general-select-monster' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/bp-priest.png" class="img-guide" />{{ i18n "bpPriest" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "bpPriestContent" }}
            </p>
            <a href="/docs/img/bp-priest.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#priest-bp-farm' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Priest</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/heal.png" class="img-guide" />{{ i18n "priestGenie" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "priestGenieContent" }}
            </p>
            <a href="/docs/img/priest-genie.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#priest-skills' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Priest</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/staff-combo.png" class="img-guide" />{{ i18n "staffCombo" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "staffComboContent" }}
            </p>
            <a href="/docs/img/staff-combo.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#mage-staff-combo' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Mage</span>
            <span class="badge badge-info">Farm</span>
            <span class="badge badge-info">PK</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/field-effect.png" class="img-guide" />{{ i18n "fieldEffect" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "fieldEffectContent" }}
            </p>
            <a href="/docs/img/field-effect.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#mage-skills' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Mage</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/smart-hp-mp.png" class="img-guide" />{{ i18n "smartHpMp" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "smartHpMpContent" }}
            </p>
            <a href="/docs/img/smarthpmp.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#general-smart-hp-mp' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
            <span class="badge badge-info">PK</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/hp.png" class="img-guide" />{{ i18n "hpMp" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "hpMpContent" }}
            </p>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/arrows.png" class="img-guide" />{{ i18n "arrowCombo" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "arrowComboContent" }}
            </p>
            <a href="/docs/img/arrows.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#rogue-3-5-combo' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Archer</span>
            <span class="badge badge-info">Farm</span>
            <span class="badge badge-info">PK</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/minor.png" class="img-guide" />{{ i18n "minor" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "minorContent" }}
            </p>
            <a href="/docs/img/minor.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#rogue-minor' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Archer</span>
            <span class="badge badge-secondary">Rogue</span>
            <span class="badge badge-info">PK</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/wolf.png" class="img-guide" />{{ i18n "wolf" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "wolfContent" }}
            </p>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Archer</span>
            <span class="badge badge-secondary">Rogue</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/deff.png" class="img-guide" />{{ i18n "def" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "defContent" }}
            </p>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Archer</span>
            <span class="badge badge-secondary">Rogue</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/ts.png" class="img-guide" />{{ i18n "ts" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "tsContent" }}
            </p>
            <a href="/docs/img/ts.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#general-ts' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/magic-hummer.png" class="img-guide" />{{ i18n "magicHummer" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "magicHummerContent" }}
            </p>
            <a href="/docs/img/magic-hummer.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/pet.png" class="img-guide" />{{ i18n "feedPet" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "feedPetContent" }}
            </p>
            <a href="/docs/img/pet-feed.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#general-feed-pet' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">USKO</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/gm-protection.png" class="img-guide" />{{ i18n "gmProtection" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "gmProtectionContent" }}
            </p>
            <a href="/docs/img/gm-protection.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#general-gm-protection' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">USKO</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/quake.png" class="img-guide" />{{ i18n "quake" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "quakeContent" }}
            </p>
            <a href="/docs/img/quake.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#warrior-quake-pvp' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">PVP</span>
            <span class="badge badge-secondary">Warrior</span>
            <span class="badge badge-info">PK</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/buttons.png" class="img-guide" />{{ i18n "buttons" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "buttonsContent" }}
            </p>
            <a href="/docs/img/buttons.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#general-press-keys' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/discord.png" class="img-guide" style="margin-right: 6px;" />{{ i18n "discordNotifications" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "discordNotificationsContent" }}
            </p>
            <a href="/docs/img/discord-notifications.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
            <a href='{{ i18n "languagePath" }}/videos/#general-discord' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/window-mode.png" class="img-guide" />{{ i18n "windowMode" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "windowModeContent" }}
            </p>
            <a href='{{ i18n "languagePath" }}/videos/#general-video-mode' class="card-link">{{ i18n "videoGuide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/friend-code.png" class="img-guide" />{{ i18n "friendCode" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "friendCodeContent" }}
            </p>
            <a href="/docs/img/friend-code.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
        </div>
    </div>
</div>
</div>
</div>
<div class="mt-5 pb-3 col-sm-12 d-flex justify-content-center">
    <img src="/assets/img/kozy.gif" alt="kozy knight macro" />
</div> 