<div class="row mt-3" id="guide"></div>

<div class="card-deck">
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/guide.png" class="img-guide" />{{ i18n "quickStart" }}</h6>
            <p class="card-text text-muted">{{ i18n "quickStartContent" }}</p>
            <a href="https://kozymacro.com/docs/img/installation.png" class="card-link" target="_blank">{{ i18n "setup" }}</a>
            <hr style="margin-top:0.5rem;margin-bottom:0.5rem;"/>
            <a href="https://kozymacro.com/docs/img/quick-start.png" class="card-link" target="_blank">{{ i18n "firstSettings" }}</a>
            <hr style="margin-top:0.5rem;margin-bottom:0.5rem;"/>
            <a href="https://kozymacro.com/docs/img/skillbar.png" class="card-link" target="_blank">Skill Bar</a>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/attack.png" class="img-guide" />{{ i18n "fastAttack" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "fastAttackContent" }}
            </p>
            <a href="https://kozymacro.com/docs/img/fast-attack.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/attack-combo.png" class="img-guide" />{{ i18n "comboAttack" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "comboAttackContent" }}
            </p>
            <a href="https://kozymacro.com/docs/img/attack-combo.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Warrior</span>
            <span class="badge badge-secondary">Priest</span>
            <span class="badge badge-info">Farm</span>
            <span class="badge badge-info">PK</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/smart-hp-mp.png" class="img-guide" />{{ i18n "smartHpMp" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "smartHpMpContent" }}
            </p>
            <a href="https://kozymacro.com/docs/img/smarthpmp.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
            <span class="badge badge-info">PK</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/hp.png" class="img-guide" />{{ i18n "hpMp" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "hpMpContent" }}
            </p>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/heal.png" class="img-guide" />{{ i18n "priestGenie" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "priestGenieContent" }}
            </p>
            <a href="https://kozymacro.com/docs/img/priest-genie.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Priest</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/arrows.png" class="img-guide" />{{ i18n "arrowCombo" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "arrowComboContent" }}
            </p>
            <a href="https://kozymacro.com/docs/img/arrows.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Archer</span>
            <span class="badge badge-info">Farm</span>
            <span class="badge badge-info">PK</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/minor.png" class="img-guide" />{{ i18n "minor" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "minorContent" }}
            </p>
            <a href="https://kozymacro.com/docs/img/minor.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Archer</span>
            <span class="badge badge-secondary">Rogue</span>
            <span class="badge badge-info">PK</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/wolf.png" class="img-guide" />{{ i18n "wolf" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "wolfContent" }}
            </p>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Archer</span>
            <span class="badge badge-secondary">Rogue</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/deff.png" class="img-guide" />{{ i18n "def" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "defContent" }}
            </p>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">Archer</span>
            <span class="badge badge-secondary">Rogue</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/ts.png" class="img-guide" />{{ i18n "ts" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "tsContent" }}
            </p>
            <a href="https://kozymacro.com/docs/img/ts.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/magic-hummer.png" class="img-guide" />{{ i18n "magicHummer" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "magicHummerContent" }}
            </p>
            <a href="https://kozymacro.com/docs/img/magic-hummer.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/pet.png" class="img-guide" />{{ i18n "feedPet" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "feedPetContent" }}
            </p>
            <a href="https://kozymacro.com/docs/img/pet-feed.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">USKO</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/gm-protection.png" class="img-guide" />{{ i18n "gmProtection" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "gmProtectionContent" }}
            </p>
            <a href="https://kozymacro.com/docs/img/gm-protection.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">USKO</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/guide/quake.png" class="img-guide" />{{ i18n "quake" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "quakeContent" }}
            </p>
            <a href="https://kozymacro.com/docs/img/quake.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">PVP</span>
            <span class="badge badge-secondary">Warrior</span>
            <span class="badge badge-info">PK</span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title text-muted"><img src="/assets/img/discord.png" class="img-guide" style="margin-right: 6px;" />{{ i18n "discordNotifications" }}</h6>
            <p class="card-text text-muted">
                {{ i18n "discordNotificationsContent" }}
            </p>
            <a href="https://kozymacro.com/docs/img/discord-notifications.png" class="card-link" target="_blank">{{ i18n "guide" }}</a>
        </div>
        <div class="card-footer">
            <span class="badge badge-success">{{ i18n "allServers" }}</span>
            <span class="badge badge-secondary">{{ i18n "allJobs" }}</span>
            <span class="badge badge-info">Farm</span>
        </div>
    </div>
</div>

<div class="mt-5 pb-3 col-sm-12 d-flex justify-content-center">
    <img src="/assets/img/kozy.gif" alt="kozy knight macro" />
</div> 