<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no">

<link rel="icon" href="/assets/img/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/logo.png">
<link rel="canonical" href="{{ .Permalink }}">

<!-- hreflang tags for internationalization -->
{{ partial "seo/hreflang.html" . }}

<!-- Title and meta tags -->
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ if .IsHome }}{{ i18n "description" }}{{ else }}{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary | plainify }}{{ else }}{{ i18n "description" }}{{ end }}{{ end }}{{ end }}">
<meta name="keywords" content="{{ i18n "keywords" }}">
<meta name="author" content="Kozy Macro">

<!-- Open Graph / Facebook -->
<meta property="og:title" content="{{ if .IsHome }}{{ i18n "titleLong" }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
<meta property="og:locale" content="{{ .Lang }}">
<meta property="og:description" content="{{ if .IsHome }}{{ i18n "description" }}{{ else }}{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary | plainify }}{{ else }}{{ i18n "description" }}{{ end }}{{ end }}{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}{{ i18n "siteType" }}{{ end }}">
<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.logo_og }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="{{ .Site.Title }}">
<meta property="og:image:type" content="image/png">
<meta property="og:logo" content="{{ .Site.BaseURL }}{{ .Site.Params.logo_og }}">
<meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}{{ .Site.Params.logo_og }}">
<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}{{ .Site.Params.logo_og }}">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ if .IsHome }}{{ i18n "titleLong" }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
<meta name="twitter:description" content="{{ if .IsHome }}{{ i18n "description" }}{{ else }}{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary | plainify }}{{ else }}{{ i18n "description" }}{{ end }}{{ end }}{{ end }}">
<meta name="twitter:image" content="https://kozymacro.com/assets/img/logo-og.png">

<!-- JSON-LD Structured Data -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}{{ .Site.Params.logo_og }}",
      "width": 512,
      "height": 512
    },
    "description": "{{ .Site.Params.description }}"
  }
  </script>

<!-- Site scripts -->
<script src="/assets/js/location.js?v=3"></script>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="/assets/css/index.css?v=1.3.4" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L3RLVS57JY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L3RLVS57JY');
</script>
