<div class="col-12">
    <p class="text-secondary text-center">{{ i18n "stripeHeadline" | safeHTML }}</p>
</div>

<div class="col-12">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-lg-3">
            <a href='https://shopier.com/4137363' target="_blank" class="btn btn-lg btn-outline-secondary btn-block mb-2">3 {{ i18n "day" }} <small>({{ i18n "paymentPriceShopier3" }} {{ i18n "priceSymbol" }})</small></a>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <a href='https://shopier.com/4140718' target="_blank" class="btn btn-lg btn-outline-secondary btn-block mb-2">7 {{ i18n "day" }} <small>({{ i18n "paymentPriceShopier7" }} {{ i18n "priceSymbol" }})</small></a>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <a href='https://shopier.com/4140728' target="_blank" class="btn btn-lg btn-outline-secondary btn-block mb-2">15 {{ i18n "day" }} <small>({{ i18n "paymentPriceShopier15" }} {{ i18n "priceSymbol" }})</small></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-lg-3">
            <a href='https://shopier.com/4140757' target="_blank" class="btn btn-lg btn-outline-info btn-block mb-2">30 {{ i18n "day" }} <small>({{ i18n "paymentPriceShopier30" }} {{ i18n "priceSymbol" }} <small class="text-muted"><del>{{ i18n "paymentPriceShopierFirst30" }} {{ i18n "priceSymbol" }}</del></small>)</small></a>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <a href='https://shopier.com/4140771' target="_blank" class="btn btn-lg btn-outline-info btn-block mb-2">45 {{ i18n "day" }} <small>({{ i18n "paymentPriceShopier45" }} {{ i18n "priceSymbol" }} <small class="text-muted"><del>{{ i18n "paymentPriceShopierFirst45" }} {{ i18n "priceSymbol" }}</del></small>)</small></a>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <a href='https://shopier.com/4140783' target="_blank" class="btn btn-lg btn-outline-success btn-block mb-2">60 {{ i18n "day" }} <small>({{ i18n "paymentPriceShopier60" }} {{ i18n "priceSymbol" }} <small class="text-muted"><del>{{ i18n "paymentPriceShopierFirst60" }} {{ i18n "priceSymbol" }}</del></small>)</small></a>
        </div>
    </div>
</div>
