<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="pricing">
    <h1 class="jumbotron-heading text-muted">{{ i18n "pricingHeader" }}</h1>
    {{ if eq .Site.Language.Lang "tr" }}
        {{ if eq .Site.Params.paymentMethodTr "papara" }}
            <p class="text-muted">{{ i18n "pricingDescLine1Papara" | safeHTML }}</p>
        {{ end }}
        {{ if eq .Site.Params.paymentMethodTr "shopier" }}
            <p class="text-muted">{{ i18n "pricingDescLine1Shopier" | safeHTML }}</p>
        {{ end }}
        {{ if eq .Site.Params.paymentMethodTr "iyzico" }}
            <p class="text-muted">{{ i18n "pricingDescLine1Iyzico" | safeHTML }}</p>
        {{ end }}
    {{ else }}
        {{ if eq .Site.Params.paymentMethod "stripe" }}
            <p class="text-muted">{{ i18n "pricingDescLine1Stripe" | safeHTML }}</p>
        {{ end }}
    {{ end }}
    
</div>

{{ partial "pricing-stripe-currency" . }}

<div class="row justify-content-center">
    {{ if eq .Site.Language.Lang "tr" }}
        {{ if eq .Site.Params.paymentMethodTr "papara" }}
            {{ partial "pricing-papara" . }}
            {{ partial "pricing-papara-support" . }}
        {{ end }}
        {{ if eq .Site.Params.paymentMethodTr "shopier" }}
            {{ partial "pricing-shopier" . }}
            {{ partial "pricing-support" . }}
        {{ end }}
        {{ if eq .Site.Params.paymentMethodTr "iyzico" }}
            {{ partial "pricing-iyzico" . }}
        {{ end }}
    {{ else }}
        {{ if eq .Site.Params.paymentMethod "stripe" }}
            {{ partial "pricing-stripe" . }}
        {{ end}}
    {{ end }}

    {{/* {{ if ne .Site.Language.Lang "tr" }}
        <div class="col-12">
            {{ partial "paypal" . }}
        </div>
    {{ end }} */}}
</div>

{{ if eq .Site.Language.Lang "tr" }}
<div class="row justify-content-center">
    <div class="col-12 text-center mt-5">
        <a href="https://www.sonteklif.com/kozyknight-c-131">
            <div style="background-color: #212529; padding: 10px; display: inline-block;">
                <img src="/assets/img/kozyknightbanner.jpg?v=1" alt="sonteklif.com kozy knight" class="img-fluid">
            </div>
        </a>
        <p class="mt-2 text-muted"><small>sonteklif.com üzerinden alınan aktivasyon anahtarları sadece Knight O. için geçerlidir.</small></p>
    </div>
</div>
{{ end }}
