<div class="col-12">
    <p class="text-secondary text-center">{{ i18n "stripeHeadline" | safeHTML }}</p>
</div>

<div class="col-12">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-lg-3">
            <a href='javascript:void(0);' class="btn btn-outline-secondary btn-block mb-2 pay-with-s" data-day-count="10">{{ i18n "paymentPrice10" }} {{ i18n "priceSymbol" }} <small>(10 {{ i18n "day" }})</small></a>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <a href='javascript:void(0);' class="btn btn-outline-secondary btn-block mb-2 pay-with-s" data-day-count="15">{{ i18n "paymentPrice15" }} {{ i18n "priceSymbol" }} <small>(15 {{ i18n "day" }})</small></a>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <a href='javascript:void(0);' class="btn btn-outline-secondary btn-block mb-2 pay-with-s" data-day-count="20">{{ i18n "paymentPrice20" }} {{ i18n "priceSymbol" }} <small>(20 {{ i18n "day" }})</small></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-lg-3">
            <a href='javascript:void(0);' class="btn btn-outline-success btn-block mb-2 pay-with-s" data-day-count="25">{{ i18n "paymentPrice25" }} {{ i18n "priceSymbol" }} <small>(25 {{ i18n "day" }})</small></a>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <a href='javascript:void(0);' class="btn btn-outline-success btn-block mb-2 pay-with-s" data-day-count="30">{{ i18n "paymentPrice30" }} {{ i18n "priceSymbol" }} <small>(30 {{ i18n "day" }})</small></a>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <a href='javascript:void(0);' class="btn btn-outline-success btn-block mb-2 pay-with-s" data-day-count="45">{{ i18n "paymentPrice45" }} {{ i18n "priceSymbol" }} <small>(45 {{ i18n "day" }})</small></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-lg-3">
            <a href='javascript:void(0);' class="btn btn-outline-primary btn-block mb-2 pay-with-s" data-day-count="60">{{ i18n "paymentPrice60" }} {{ i18n "priceSymbol" }} <small>(60 {{ i18n "day" }})</small></a>
        </div>
    </div>
</div>

{{ if eq .Site.Language.Lang "tr" }}
    <input type="hidden" id="pay-with-s-price-id" name="pay-with-s-price-id" value="price_1HSAbNEFbqhraEwxqZHENU45" data-lang="{{ .Lang }}">
{{ else }}
    <input type="hidden" id="pay-with-s-price-id" name="pay-with-s-price-id" value="price_1HRIFYEFbqhraEwxuTfRFoVr" data-lang="{{ .Lang }}">
{{ end }}
