<div class="col-12 mt-5">
    <p class="text-secondary text-center"><b>Destek</b></p>
    <p class="text-secondary text-center">Bu seçenek sadece ekstra destek talep eden kullanıcılarımız içindir.<br/>Bunu satın almasanız da bize her zaman yazabilirsiniz.</p>
</div>

<div class="col-12">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <button class="pay-support-with-papara btn btn-lg btn-outline-secondary btn-block mb-2" data-support="true">Canlı Destek - Discord <small>(100 TL)</small></button>
        </div>
    </div>
</div>
