<div class="d-flex justify-content-center flex-column flex-md-row flex-wrap" style="gap: 1rem 1.5rem;">
    <div>
        <a href='javascript:void(0);' class="btn btn-primary special-release-pay-with-s" data-lang="{{ .Lang }}" data-name="default" type="button">
            {{ i18n "specialReleaseBuy" }}
        </a>
    </div>
    <div>
        <a href='javascript:void(0);' class="btn btn-primary special-release-pay-with-s" data-lang="{{ .Lang }}" data-name="rise" type="button">
            {{ i18n "specialReleaseBuyRise" }}
        </a>
    </div>
</div>
