<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="special-release">
    <h1 class="jumbotron-heading text-muted">
        <img src="/assets/img/verified.png" alt="special kozy release" style="width: 32px; margin-bottom:5px;" />
        {{ i18n "specialReleaseHeader"}}
    </h1>
</div>

<div class="row d-flex justify-content-center mx-auto text-center">
    <div class="col-lg-8 col-sm-12 text-muted">
        <h4 class="jumbotron-heading text-muted mb-4">{{ i18n "specialReleaseQuestion" | safeHTML}}</h4>

        {{ if eq .Site.Language.Lang "tr" }}
        <a href='https://shopier.com/4636459' target="_blank" class="btn btn-primary btn-lg w-50" type="button">
        {{ else }}
        <a href='javascript:void(0);' class="btn btn-primary btn-lg w-50 special-release-pay-with-s" data-price-id="price_1HqHHBEFbqhraEwxuZrN6joO" data-lang="{{ .Lang }}" type="button">
        {{ end }}
            {{ i18n "specialReleaseBuy" }}<br/><small>{{ i18n "specialReleasePrice" }} {{ i18n "priceSymbol" }}</small>
        </a>
        <br/><div class="mb-5"><small>({{ i18n "specialReleaseNotContainActivationCode" }})</small></div>

        <p class="text-muted">{{ i18n "specialRelease" | safeHTML }}</p>
        <p class="text-muted">{{ i18n "specialRelease2" | safeHTML }}</p>
    </div>
</div>
