<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="special-release">
    <h1 class="jumbotron-heading text-muted">
        <img src="/assets/img/verified.png" alt="special kozy release" style="width: 32px; margin-bottom:5px;" />
        {{ i18n "specialReleaseHeader"}}
    </h1>
</div>

<div class="row d-flex justify-content-center mx-auto text-center">
    <div class="col-lg-8 col-sm-12 text-muted">
        <h4 class="jumbotron-heading text-muted mb-4">{{ i18n "specialReleaseQuestion" | safeHTML}}</h4>

        {{ partial "pricing-stripe-currency" . }}

        {{ if eq .Site.Language.Lang "tr" }}
            {{ if eq .Site.Params.paymentMethodTr "stripe" }}
                {{ partial "special-release-shopier" . }}
            {{ end }}
            {{ if eq .Site.Params.paymentMethodTr "papara" }}
                {{ partial "special-release-papara" . }}
            {{ end }}
            {{ if eq .Site.Params.paymentMethodTr "shopier" }}
                {{ partial "special-release-shopier" . }}
            {{ end }}
        {{ else }}
            {{ if eq .Site.Params.paymentMethod "stripe" }}
                {{ partial "special-release-stripe" . }}
            {{ end }}
        {{ end }}

        <div class="mb-5"></div>

        <p class="text-muted">{{ i18n "specialRelease" | safeHTML }}</p>
        <p class="text-muted">{{ i18n "specialRelease2" | safeHTML }}</p>
    </div>
</div>