<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="updates">
    <h1 class="jumbotron-heading text-muted">{{ i18n "updatesHeader"}}</h1>
</div>

<div class="row d-flex justify-content-center mb-4">
    <div class="col-sm-12 col-md-8 text-muted">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>15.06.2022</b></small> - {{ i18n "updates37" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-secondary w-100">v2.5.0 Rise (Beta)</span></div>
                    <div><span class="badge badge-warning">v2.5.0 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>07.06.2022</b></small> - {{ i18n "updates36" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-secondary w-100">v2.5.0 Rise (Beta)</span></div>
                    <div><span class="badge badge-warning">v2.5.0-beta.5 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>29.05.2022</b></small> - {{ i18n "updates35" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-secondary w-100">v2.5.0 Rise (Beta)</span></div>
                    <div><span class="badge badge-warning">v2.5.0-beta.4 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>15.05.2022</b></small> - {{ i18n "updates34" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.5.0 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>11.05.2022</b></small> - {{ i18n "updates33" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-secondary w-100">v2.5.0 Rise (Beta)</span></div>
                    <div><span class="badge badge-warning">v2.5.0-beta.3 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>07.05.2022</b></small> - {{ i18n "updates32" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.5.0 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>05.05.2022</b></small> - {{ i18n "updates31" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-secondary w-100">v2.5.0 Rise (Beta)</span></div>
                    <div><span class="badge badge-warning">v2.5.0-beta.2 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>30.04.2022</b></small> - {{ i18n "updates30" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>27.04.2022</b></small> - {{ i18n "updates29" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>26.04.2022</b></small> - {{ i18n "updates28" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>24.04.2022</b></small> - {{ i18n "updates27" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>21.04.2022</b></small> - {{ i18n "updates26" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>20.04.2022</b></small> - {{ i18n "updates25" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>20.04.2022</b></small> - {{ i18n "updates24" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>19.04.2022</b></small> - {{ i18n "updates23" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>18.04.2022</b></small> - {{ i18n "updates22" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>27.02.2022</b></small> - {{ i18n "updates21" | safeHTML }}</div>
                <div><span class="badge badge-warning">v2.5.0-beta.1 (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>30.10.2021</b></small> - {{ i18n "updates20" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>29.10.2021</b></small> - {{ i18n "updates19" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>17.10.2021</b></small> - {{ i18n "updates18" | safeHTML }}</div>
                <div><span class="badge badge-info">v2.4.8</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>14.09.2021</b></small> - {{ i18n "updates17" | safeHTML }}</div>
                <div><span class="badge badge-info">v2.4.7</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>14.08.2021</b></small> - {{ i18n "updates16" | safeHTML }}</div>
                <div><span class="badge badge-warning">v2.4.7-beta.1 (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>14.08.2021</b></small> - {{ i18n "updates15" | safeHTML }}</div>
                <div><span class="badge badge-warning">v2.4.7-beta.1 (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>16.05.2021</b></small> - {{ i18n "updates14" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.5 Rise (Alpha)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>16.05.2021</b></small> - {{ i18n "updates13" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.5 Rise (Alpha)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>16.05.2021</b></small> - {{ i18n "updates12" | safeHTML }}</div>
                <div><span class="badge badge-info">v2.4.6</span></div>
            </li>
        </ul>
    </div>
</div>