<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="updates">
    <h1 class="jumbotron-heading text-muted">{{ i18n "updatesHeader"}}</h1>
</div>

<div class="row d-flex justify-content-center mb-4">
    <div class="col-sm-12 col-md-8 text-muted">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>20.04.2024</b></small> - {{ i18n "updates55" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-warning">v2.5.6 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>13.03.2024</b></small> - {{ i18n "updates54" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-warning">v2.5.6 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>12.02.2024</b></small> - {{ i18n "updates53" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-warning">v2.5.6 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>24.01.2024</b></small> - {{ i18n "updates52" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-warning">v2.5.6 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>11.11.2023</b></small> - {{ i18n "updates51" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-info">v2.5.5</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>07.10.2023</b></small> - {{ i18n "updates50" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-info">v2.5.4</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>10.09.2023</b></small> - {{ i18n "updates49" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-warning">v2.5.4 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>31.08.2023</b></small> - {{ i18n "updates48" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-warning">v2.5.4 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>09.08.2023</b></small> - {{ i18n "updates47" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-warning">v2.5.4 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>01.08.2023</b></small> - {{ i18n "updates46" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-warning">v2.5.4 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>14.07.2023</b></small> - {{ i18n "updates45" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-warning">v2.5.4 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>13.06.2023</b></small> - {{ i18n "updates44" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-info w-100">v2.5.3</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>01.05.2023</b></small> - {{ i18n "updates43" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-info w-100">v2.5.2</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>14.02.2023</b></small> - {{ i18n "updates42" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-info w-100">v2.5.1</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>17.11.2022</b></small> - {{ i18n "updates41" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-info w-100">v2.5.0</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>06.09.2022</b></small> - {{ i18n "updates40" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-secondary w-100">v2.5.0 Rise (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>31.08.2022</b></small> - {{ i18n "updates39" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-secondary w-100">v2.5.0 Rise (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>01.08.2022</b></small> - {{ i18n "updates38" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-secondary w-100">v2.5.0 Rise (Beta)</span></div>
                    <div><span class="badge badge-warning">v2.5.0 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>15.06.2022</b></small> - {{ i18n "updates37" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-secondary w-100">v2.5.0 Rise (Beta)</span></div>
                    <div><span class="badge badge-warning">v2.5.0 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>07.06.2022</b></small> - {{ i18n "updates36" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-secondary w-100">v2.5.0 Rise (Beta)</span></div>
                    <div><span class="badge badge-warning">v2.5.0 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>29.05.2022</b></small> - {{ i18n "updates35" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-secondary w-100">v2.5.0 Rise (Beta)</span></div>
                    <div><span class="badge badge-warning">v2.5.0 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>15.05.2022</b></small> - {{ i18n "updates34" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.5.0 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>11.05.2022</b></small> - {{ i18n "updates33" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-secondary w-100">v2.5.0 Rise (Beta)</span></div>
                    <div><span class="badge badge-warning">v2.5.0 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>07.05.2022</b></small> - {{ i18n "updates32" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.5.0 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>05.05.2022</b></small> - {{ i18n "updates31" | safeHTML }}</div>
                <div class="d-flex flex-column">
                    <div><span class="badge badge-secondary w-100">v2.5.0 Rise (Beta)</span></div>
                    <div><span class="badge badge-warning">v2.5.0 (Beta)</span></div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>30.04.2022</b></small> - {{ i18n "updates30" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>27.04.2022</b></small> - {{ i18n "updates29" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>26.04.2022</b></small> - {{ i18n "updates28" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>24.04.2022</b></small> - {{ i18n "updates27" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div><small><b>21.04.2022</b></small> - {{ i18n "updates26" | safeHTML }}</div>
                <div><span class="badge badge-secondary">v2.4.8 Rise (Beta)</span></div>
            </li>
        </ul>
    </div>
</div>