{{ define "main" }}

<main role="main">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark shadow">
        <div class="container">
            {{ if eq .Site.Language.Lang "tr" }}
            <a class="navbar-brand" href="/">
                <img src="/assets/img/logo.png?v=1" width="30" height="30" class="d-inline-block align-top" alt="">
                {{ i18n "header" }}
            </a>
            {{ else }}
            <a class="navbar-brand" href="/en">
                <img src="/assets/img/logo.png?v=1" width="30" height="30" class="d-inline-block align-top" alt="">
                {{ i18n "header" }}
            </a>
            {{ end }}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            PRIEST
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#priest-skills" data-video-id="545705510"><img src="/assets/img/guide/heal.png" class="mr-2 video-item">{{ i18n "videosGenie" }}</a>
                            <a class="dropdown-item video-item" href="#priest-bp-farm" data-video-id="545704813"><img src="/assets/img/guide/bp-priest.png" class="mr-2 video-item">BP</a>
                            <a class="dropdown-item video-item" href="#general-select-monster" data-video-id="545644550"><img src="/assets/img/guide/monster-select.png" class="mr-2 video-item">{{ i18n "videosSelectMonster" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">PK</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#priest-attack-combo" data-video-id="1060582443"><img src="/assets/img/guide/attack-combo.png" class="mr-2 video-item">{{ i18n "videosAttackCombo" }}</a>
                            <a class="dropdown-item video-item" href="#general-smart-hp-mp" data-video-id="545715936"><img src="/assets/img/guide/smart-hp-mp.png" class="mr-2 video-item">{{ i18n "videosSmartHpMp" }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ROGUE
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#rogue-skills" data-video-id="545702714"><img src="/assets/img/guide/archer.png" class="mr-2 video-item">{{ i18n "videosArcherSkillSettings" }}</a>
                            <a class="dropdown-item video-item" href="#rogue-skills-asas" data-video-id="545703311"><img src="/assets/img/guide/asas-combo.png" class="mr-2 video-item">{{ i18n "videosAsasSkillSettings" }}</a>
                            <a class="dropdown-item video-item" href="#general-select-monster" data-video-id="545644550"><img src="/assets/img/guide/monster-select.png" class="mr-2 video-item">{{ i18n "videosSelectMonster" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">PK</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#rogue-archer-combo" data-video-id="1034921473"><img src="/assets/img/guide/archer.png" class="mr-2 video-item">{{ i18n "videosArcherCombo" }}</a>
                            <a class="dropdown-item video-item" href="#rogue-3-5-combo" data-video-id="545713871"><img src="/assets/img/guide/arrows.png" class="mr-2 video-item">{{ i18n "videosArcherCombo35" }}</a>
                            <a class="dropdown-item video-item" href="#rogue-asas-combo" 
                            data-video-id='{{ if eq .Site.Language.Lang "tr" }}945470376{{ else }}977749129{{ end }}'                            
                            data-time="3m23s"><img src="/assets/img/guide/asas-combo.png" class="mr-2 video-item">{{ i18n "videosAsasCombo" }}</a>
                            <a class="dropdown-item video-item" href="#rogue-minor" 
                            data-video-id='{{ if eq .Site.Language.Lang "tr" }}945470376{{ else }}977749129{{ end }}'
                            ><img src="/assets/img/guide/minor.png" class="mr-2 video-item">{{ i18n "videosMinorCombo" }}</a>
                            <a class="dropdown-item video-item" href="#styx-cure-m20" data-video-id="1034921473" data-time="2m26s"><img src="/assets/img/guide/styx.png" class="mr-2 video-item">{{ i18n "videosStyxCureM20Combo" }}</a>
                            <a class="dropdown-item video-item" href="#general-smart-hp-mp" data-video-id="545715936"><img src="/assets/img/guide/smart-hp-mp.png" class="mr-2 video-item">{{ i18n "videosSmartHpMp" }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            WARRIOR
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#warrior-skills" data-video-id="545708703"><img src="/assets/img/guide/attack.png" class="mr-2 video-item">{{ i18n "videosSkillSettings" }}</a>
                            <a class="dropdown-item video-item" href="#general-select-monster" data-video-id="545644550"><img src="/assets/img/guide/monster-select.png" class="mr-2 video-item">{{ i18n "videosSelectMonster" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">PK</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#warrior-attack-combo" data-video-id="1060582443"><img src="/assets/img/guide/attack-combo.png" class="mr-2 video-item">{{ i18n "videosAttackCombo" }}</a>
                            <a class="dropdown-item video-item" href="#warrior-quake-pvp" data-video-id="545715333"><img src="/assets/img/guide/quake.png" class="mr-2 video-item">{{ i18n "videosQuakePvp" }}</a>
                            <a class="dropdown-item video-item" href="#general-smart-hp-mp" data-video-id="545715936"><img src="/assets/img/guide/smart-hp-mp.png" class="mr-2 video-item">{{ i18n "videosSmartHpMp" }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            MAGE
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#mage-skills" data-video-id="545709095"><img src="/assets/img/guide/attack.png" class="mr-2 video-item"> <img src="/assets/img/guide/field-effect.png" class="mr-2 video-item">{{ i18n "videosSkillSettings" }}</a>
                            <a class="dropdown-item video-item" href="#general-select-monster" data-video-id="545644550"><img src="/assets/img/guide/monster-select.png" class="mr-2 video-item">{{ i18n "videosSelectMonster" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">PK</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#mage-staff-combo" data-video-id="545716571"><img src="/assets/img/guide/staff-combo.png" class="mr-2 video-item">{{ i18n "videosStaffCombo" }}</a>
                            <a class="dropdown-item video-item" href="#general-smart-hp-mp" data-video-id="545715936"><img src="/assets/img/guide/smart-hp-mp.png" class="mr-2 video-item">{{ i18n "videosSmartHpMp" }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle videos-general" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ i18n "videosGeneral" }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#general-vip-storage" data-video-id="545709839"><img src="/assets/img/guide/vip-storage.png" class="mr-2 video-item">{{ i18n "videosVipStorage" }}</a>
                            <a class="dropdown-item video-item" href="#general-ts" data-video-id="545707851"><img src="/assets/img/guide/ts.png" class="mr-2 video-item">{{ i18n "videosTs" }}</a>
                            <a class="dropdown-item video-item" href="#general-feed-pet" data-video-id="545709680"><img src="/assets/img/guide/pet.png" class="mr-2 video-item">{{ i18n "videosPetFeeding" }}</a>
                            <a class="dropdown-item video-item" href="#general-gm-protection" data-video-id="545703653"><img src="/assets/img/guide/gm-protection.png" class="mr-2 video-item">{{ i18n "videosGmProtection" }}</a>
                            <a class="dropdown-item video-item" href="#general-press-keys" data-video-id="545704282"><img src="/assets/img/guide/buttons.png" class="mr-2 video-item">{{ i18n "videosPressKeys" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">{{ i18n "videosOthers" }}</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#general-connect"
                               data-video-id='{{ if eq .Site.Language.Lang "tr" }}1088813673{{ else }}1088813673{{ end }}'
                            ><img src="/assets/img/logo-connect.png" class="mr-2 video-item" style="margin-top: -3px;">{{ i18n "videosConnect" }}</a>
                            <a class="dropdown-item video-item" href="#general-mob-click" data-video-id="1037196004"><img src="/assets/img/guide/radar.png" class="mr-2 video-item">{{ i18n "videosMobClick" }}</a>
                            <a class="dropdown-item video-item" href="#general-upgrade" 
                            data-video-id='{{ if eq .Site.Language.Lang "tr" }}951583488{{ else }}978378560{{ end }}'
                            ><img src="/assets/img/guide/guide.png" class="mr-2 video-item">{{ i18n "videosUpgrade" }}</a>
                            <a class="dropdown-item video-item" href="#general-merchant" data-video-id="832294114"><img src="/assets/img/guide/merchant.png" class="mr-2 video-item">{{ i18n "videosMerchant" }}</a>
                            <a class="dropdown-item video-item" href="#general-change-weapon" 
                            data-video-id='{{ if eq .Site.Language.Lang "tr" }}951902927{{ else }}977855142{{ end }}'
                            ><img src="/assets/img/guide/attack.png" class="mr-2 video-item">{{ i18n "videosChangeWeapon" }}</a>
                            <a class="dropdown-item video-item" href="#general-delete-skill" data-video-id="803089288"><img src="/assets/img/guide/delete.png" class="mr-2 video-item">{{ i18n "videosDeleteSkill" }}</a>
                            <a class="dropdown-item video-item" href="#general-custom-macro" data-video-id="951985791"><img src="/assets/img/guide/custom.png" class="mr-2 video-item">{{ i18n "videosCustomMacro" }}</a>
                            <a class="dropdown-item video-item" href="#general-video-mode" data-video-id="545704156"><img src="/assets/img/guide/window-mode.png" class="mr-2 video-item">{{ i18n "videosVideoMode" }}</a>
                            <a class="dropdown-item video-item" href="#general-discord" data-video-id="545704494"><img src="/assets/img/discord.png" class="mr-2 video-item">{{ i18n "videosDiscordNotification" }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#general-first-settings" 
                            data-video-id='{{ if eq .Site.Language.Lang "tr" }}945264013{{ else }}978349922{{ end }}'
                            ><img src="/assets/img/play.png" class="mr-2 video-item">{{ i18n "videosFirstSettings" }}</a>
                        </div>
                    </li>
                </ul>
                <span class="navbar-text">
                    {{ i18n "videosTopRight" }}
                </span>
            </div>
        </div>
    </nav>

    <div class="bg-white" style="margin-top: 60px;">
        <div class="container">
            {{ if ne .Site.Language.Lang "tr" }}
            <a name="priest"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="alert alert-warning" role="alert">
                Dear players, some of the video guides recorded in Turkish. English versions will be available soon. Thank you for your patience.
            </div>
            {{ end }}

            <a class="btn btn-md btn-info disabled mt-4 mr-2" href="#">
                RISE →
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-supply" data-video-id="1043421358">
                {{ i18n "videosRiseSupply" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-skill-definition" data-video-id="923006899">
                {{ i18n "videosRiseSkillDefinition" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-captcha" 
            data-video-id='{{ if eq .Site.Language.Lang "tr" }}957881733{{ else }}978396745{{ end }}'
            >
                {{ i18n "videosRiseCaptcha" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-archer-farm" data-video-id="724456521">
                {{ i18n "videosRiseArcherFarm" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-assassin-combo" data-video-id="724458517">
                {{ i18n "videosRiseAssassinCombo" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-priest-genie" data-video-id="724462285">
                {{ i18n "videosRisePriestGenie" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-select-monster" data-video-id="726743172">
                {{ i18n "videosRiseSelectMonster" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-archer-35" data-video-id="724457462">
                {{ i18n "videosRiseArcher35" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-smart-hp-mp" data-video-id="726744462">
                {{ i18n "videosRiseSmartHpMp" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-shield-change" data-video-id="726743811">
                {{ i18n "videosRiseShieldChange" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-pk-attack" data-video-id="726742389">
                {{ i18n "videosRisePkAttack" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-pk-assassin-combo" data-video-id="726741432">
                {{ i18n "videosRisePkAssassinCombo" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-minor" data-video-id="726740508">
                {{ i18n "videosRiseMinor" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#general-custom-macro" 
            data-video-id='{{ if eq .Site.Language.Lang "tr" }}951985791{{ else }}977129720{{ end }}'>
                {{ i18n "videosCustomMacro" | safeHTML }}
            </a>

            <div id="video-wrapper"></div>
            
        </div>
    </div>
    
</main>

{{ partial "footer" . }}

{{ end }}