{{ define "main" }}

<main role="main">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark shadow">
        <div class="container">
            {{ if eq .Site.Language.Lang "tr" }}
            <a class="navbar-brand" href="/">
                <img src="/assets/img/logo.png?v=1" width="30" height="30" class="d-inline-block align-top" alt="">
                {{ i18n "header" }}
            </a>
            {{ else }}
            <a class="navbar-brand" href="/en">
                <img src="/assets/img/logo.png?v=1" width="30" height="30" class="d-inline-block align-top" alt="">
                {{ i18n "header" }}
            </a>
            {{ end }}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            PRIEST
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#priest-skills" data-video-id="hWPNjysPDZ8"><img src="/assets/img/guide/heal.png" class="mr-2 video-item">{{ i18n "videosGenie" }}</a>
                            <a class="dropdown-item video-item" href="#priest-bp-farm" data-video-id="BZ4CHgNZ5v8"><img src="/assets/img/guide/bp-priest.png" class="mr-2 video-item">BP</a>
                            <a class="dropdown-item video-item" href="#general-select-monster" data-video-id="nU1yGSH6tl4"><img src="/assets/img/guide/monster-select.png" class="mr-2 video-item">{{ i18n "videosSelectMonster" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">PK</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#priest-attack-combo" data-video-id="04xexfIkvWE"><img src="/assets/img/guide/attack-combo.png" class="mr-2 video-item">{{ i18n "videosAttackCombo" }}</a>
                            <a class="dropdown-item video-item" href="#general-smart-hp-mp" data-video-id="25mW1V1xcwY"><img src="/assets/img/guide/smart-hp-mp.png" class="mr-2 video-item">{{ i18n "videosSmartHpMp" }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ROGUE
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#rogue-skills" data-video-id="G1VsiqSW-7I"><img src="/assets/img/guide/archer.png" class="mr-2 video-item">{{ i18n "videosArcherSkillSettings" }}</a>
                            <a class="dropdown-item video-item" href="#rogue-skills-asas" data-video-id="K_2MCz6b5gM"><img src="/assets/img/guide/asas-combo.png" class="mr-2 video-item">{{ i18n "videosAsasSkillSettings" }}</a>
                            <a class="dropdown-item video-item" href="#general-select-monster" data-video-id="nU1yGSH6tl4"><img src="/assets/img/guide/monster-select.png" class="mr-2 video-item">{{ i18n "videosSelectMonster" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">PK</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#rogue-archer-combo" data-video-id="79JPihQvpiE"><img src="/assets/img/guide/archer.png" class="mr-2 video-item">{{ i18n "videosArcherCombo" }}</a>
                            <a class="dropdown-item video-item" href="#rogue-3-5-combo" data-video-id="79JPihQvpiE" data-time="260"><img src="/assets/img/guide/arrows.png" class="mr-2 video-item">{{ i18n "videosArcherCombo35" }}</a>
                            <a class="dropdown-item video-item" href="#rogue-asas-combo" 
                            data-video-id='{{ if eq .Site.Language.Lang "tr" }}ampnnaFzsjc{{ else }}62Gg3-PQ2y4{{ end }}'                            
                            data-time="206"><img src="/assets/img/guide/asas-combo.png" class="mr-2 video-item">{{ i18n "videosAsasCombo" }}</a>
                            <a class="dropdown-item video-item" href="#rogue-minor" 
                            data-video-id='{{ if eq .Site.Language.Lang "tr" }}ampnnaFzsjc{{ else }}62Gg3-PQ2y4{{ end }}'
                            ><img src="/assets/img/guide/minor.png" class="mr-2 video-item">{{ i18n "videosMinorCombo" }}</a>
                            <a class="dropdown-item video-item" href="#styx-cure-m20" data-video-id="79JPihQvpiE" data-time="146"><img src="/assets/img/guide/styx.png" class="mr-2 video-item">{{ i18n "videosStyxCureM20Combo" }}</a>
                            <a class="dropdown-item video-item" href="#general-smart-hp-mp" data-video-id="25mW1V1xcwY"><img src="/assets/img/guide/smart-hp-mp.png" class="mr-2 video-item">{{ i18n "videosSmartHpMp" }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            WARRIOR
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#warrior-skills" data-video-id="mE324tWMW1o"><img src="/assets/img/guide/attack.png" class="mr-2 video-item">{{ i18n "videosSkillSettings" }}</a>
                            <a class="dropdown-item video-item" href="#general-select-monster" data-video-id="nU1yGSH6tl4"><img src="/assets/img/guide/monster-select.png" class="mr-2 video-item">{{ i18n "videosSelectMonster" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">PK</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#warrior-attack-combo" data-video-id="nWoUpl60koo" data-time="73"><img src="/assets/img/guide/attack-combo.png" class="mr-2 video-item">{{ i18n "videosAttackCombo" }}</a>
                            <a class="dropdown-item video-item" href="#warrior-firfir" data-video-id="nWoUpl60koo" data-time="525"><img src="/assets/img/guide/firfir.png" class="mr-2 video-item">{{ i18n "videosFirFir" }}</a>
                            <a class="dropdown-item video-item" href="#warrior-shield" data-video-id="nWoUpl60koo" data-time="559"><img src="/assets/img/guide/shield.png" class="mr-2 video-item">{{ i18n "videosShield" }}</a>
                            <a class="dropdown-item video-item" href="#warrior-echo" data-video-id="nWoUpl60koo" data-time="755"><img src="/assets/img/guide/quake.png" class="mr-2 video-item">{{ i18n "videosQuakePvp" }}</a>
                            <a class="dropdown-item video-item" href="#warrior-descent" data-video-id="nWoUpl60koo" data-time="925"><img src="/assets/img/guide/descent.png" class="mr-2 video-item">{{ i18n "videosDescent" }}</a>
                            <a class="dropdown-item video-item" href="#general-delete-skill" data-video-id="nWoUpl60koo" data-time="1143"><img src="/assets/img/guide/delete.png" class="mr-2 video-item">{{ i18n "videosDeleteSkill" }}</a>
                            <a class="dropdown-item video-item" href="#general-smart-hp-mp" data-video-id="nWoUpl60koo"><img src="/assets/img/guide/smart-hp-mp.png" class="mr-2 video-item">{{ i18n "videosSmartHpMp" }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            MAGE
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#mage-skills" data-video-id="alCxFQBuUEg"><img src="/assets/img/guide/attack.png" class="mr-2 video-item"> <img src="/assets/img/guide/field-effect.png" class="mr-2 video-item">{{ i18n "videosSkillSettings" }}</a>
                            <a class="dropdown-item video-item" href="#general-select-monster" data-video-id="nU1yGSH6tl4"><img src="/assets/img/guide/monster-select.png" class="mr-2 video-item">{{ i18n "videosSelectMonster" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">PK</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#mage-staff-combo" data-video-id="yw9lklrSvtU"><img src="/assets/img/guide/staff-combo.png" class="mr-2 video-item">{{ i18n "videosStaffCombo" }}</a>
                            <a class="dropdown-item video-item" href="#general-smart-hp-mp" data-video-id="25mW1V1xcwY"><img src="/assets/img/guide/smart-hp-mp.png" class="mr-2 video-item">{{ i18n "videosSmartHpMp" }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle videos-general" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ i18n "videosGeneral" }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#general-vip-storage" data-video-id="iPJAWJ2owQs"><img src="/assets/img/guide/vip-storage.png" class="mr-2 video-item">{{ i18n "videosVipStorage" }}</a>
                            <a class="dropdown-item video-item" href="#general-ts" data-video-id="PBcGM52dvC0"><img src="/assets/img/guide/ts.png" class="mr-2 video-item">{{ i18n "videosTs" }}</a>
                            <a class="dropdown-item video-item" href="#general-feed-pet" data-video-id="bmSVtM9u6BU"><img src="/assets/img/guide/pet.png" class="mr-2 video-item">{{ i18n "videosPetFeeding" }}</a>
                            <a class="dropdown-item video-item" href="#general-gm-protection" data-video-id="MuK00ZHOn_w"><img src="/assets/img/guide/gm-protection.png" class="mr-2 video-item">{{ i18n "videosGmProtection" }}</a>
                            <a class="dropdown-item video-item" href="#general-press-keys" data-video-id="5ysN5CvqYJU"><img src="/assets/img/guide/buttons.png" class="mr-2 video-item">{{ i18n "videosPressKeys" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">{{ i18n "videosOthers" }}</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#general-hardware" data-video-id="g7e0anXmNC0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" class="mr-2 video-item" style="margin-top: -3px;"><path fill="currentColor" d="M13.5 1A1.5 1.5 0 0 1 15 2.5v3c0 .66-.26 1.3-.73 1.77S13.16 8 12.5 8s-1.3-.26-1.77-.73S10 6.16 10 5.5v-3A1.5 1.5 0 0 1 11.5 1zm-.65 2.85c.1-.09.15-.22.15-.35V2h-1v1.5c0 .13.05.26.15.35c.09.1.22.15.35.15s.26-.05.35-.15M12.5 9c.936 0 1.815-.364 2.475-1.025l.013-.015l.012-.016v3.306A1.75 1.75 0 0 1 13.25 13H2.75A1.75 1.75 0 0 1 1 11.25v-6.5C1 3.784 1.784 3 2.75 3H9v2.5c0 .934.364 1.813 1.025 2.474A3.47 3.47 0 0 0 12.5 9M9 8.25a.75.75 0 1 0-1.5 0a.75.75 0 0 0 1.5 0m-2-2a.75.75 0 1 0-1.5 0a.75.75 0 0 0 1.5 0m-1 2a.75.75 0 1 0-1.5 0a.75.75 0 0 0 1.5 0M3.25 5.5a.75.75 0 1 0 0 1.5a.75.75 0 0 0 0-1.5M3.5 11h9a.5.5 0 0 0 0-1h-9a.5.5 0 0 0 0 1"></path></svg>
                                {{ i18n "videosHardware" }}</a>
                            <a class="dropdown-item video-item" href="#general-connect" data-video-id="iqOot0A2FAo"><img src="/assets/img/logo-connect.png" class="mr-2 video-item" style="margin-top: -3px;">{{ i18n "videosConnect" }}</a>
                            <a class="dropdown-item video-item" href="#general-mob-click" data-video-id="6eLlnVsZGM8"><img src="/assets/img/guide/radar.png" class="mr-2 video-item">{{ i18n "videosMobClick" }}</a>
                            <a class="dropdown-item video-item" href="#general-upgrade" 
                            data-video-id='{{ if eq .Site.Language.Lang "tr" }}dugaL9e0jPU{{ else }}Ci3WKJ0WEug{{ end }}'
                            ><img src="/assets/img/guide/guide.png" class="mr-2 video-item">{{ i18n "videosUpgrade" }}</a>
                            <a class="dropdown-item video-item" href="#general-merchant" data-video-id="wpKBg9mKVpo"><img src="/assets/img/guide/merchant.png" class="mr-2 video-item">{{ i18n "videosMerchant" }}</a>
                            <a class="dropdown-item video-item" href="#general-change-weapon" 
                            data-video-id='{{ if eq .Site.Language.Lang "tr" }}GvHQUBSVclo{{ else }}Ja2QQq2HjbY{{ end }}'
                            ><img src="/assets/img/guide/attack.png" class="mr-2 video-item">{{ i18n "videosChangeWeapon" }}</a>
                            <a class="dropdown-item video-item" href="#general-delete-skill" data-video-id="nWoUpl60koo" data-time="1143"><img src="/assets/img/guide/delete.png" class="mr-2 video-item">{{ i18n "videosDeleteSkill" }}</a>
                            <a class="dropdown-item video-item" href="#general-custom-macro" 
                            data-video-id='{{ if eq .Site.Language.Lang "tr" }}sCHfHgxuDDw{{ else }}wEzTxBhR2SA{{ end }}'><img src="/assets/img/guide/custom.png" class="mr-2 video-item">{{ i18n "videosCustomMacro" }}</a>
                            <a class="dropdown-item video-item" href="#general-video-mode" data-video-id="OL47ri4-9qA"><img src="/assets/img/guide/window-mode.png" class="mr-2 video-item">{{ i18n "videosVideoMode" }}</a>
                            <a class="dropdown-item video-item" href="#general-discord" data-video-id="XjG2qxcVrUc"><img src="/assets/img/discord.png" class="mr-2 video-item">{{ i18n "videosDiscordNotification" }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item video-item" href="#general-first-settings" 
                            data-video-id='{{ if eq .Site.Language.Lang "tr" }}AKOhQ2BLPBY{{ else }}7oOIfYBCllg{{ end }}'
                            ><img src="/assets/img/play.png" class="mr-2 video-item">{{ i18n "videosFirstSettings" }}</a>
                        </div>
                    </li>
                </ul>
                <span class="navbar-text">
                    {{ i18n "videosTopRight" }}
                </span>
            </div>
        </div>
    </nav>

    <div class="bg-white" style="margin-top: 60px;">
        <div class="container">
            {{ if ne .Site.Language.Lang "tr" }}
            <a name="priest"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="alert alert-warning" role="alert">
                Dear players, some of the video guides recorded in Turkish. English versions will be available soon. Thank you for your patience.
            </div>
            {{ end }}

            <a class="btn btn-md btn-info disabled mt-4 mr-2" href="#">
                RISE →
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-supply" data-video-id="mCrEQ9N38cE">
                {{ i18n "videosRiseSupply" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-skill-definition" data-video-id="Hsfj6Gwd8oU">
                {{ i18n "videosRiseSkillDefinition" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-captcha" 
            data-video-id='{{ if eq .Site.Language.Lang "tr" }}2HvG_g2bMQc{{ else }}W0717PC2NdU{{ end }}'
            >
                {{ i18n "videosRiseCaptcha" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-archer-farm" data-video-id="lDzZXU_UacY">
                {{ i18n "videosRiseArcherFarm" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-assassin-combo" data-video-id="nhvvJdfN-f0">
                {{ i18n "videosRiseAssassinCombo" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-priest-genie" data-video-id="37zTdA45qMs">
                {{ i18n "videosRisePriestGenie" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-select-monster" data-video-id="sCQyYCJ_7rk">
                {{ i18n "videosRiseSelectMonster" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-archer-35" data-video-id="WhmxoWdjt0I">
                {{ i18n "videosRiseArcher35" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-smart-hp-mp" data-video-id="kFh7xJU5Rss">
                {{ i18n "videosRiseSmartHpMp" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-shield-change" data-video-id="hW7-86cPth0">
                {{ i18n "videosRiseShieldChange" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-pk-attack" data-video-id="iNLstpFaMFE">
                {{ i18n "videosRisePkAttack" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-pk-assassin-combo" data-video-id="uPelXqdqPxs">
                {{ i18n "videosRisePkAssassinCombo" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#rise-minor" data-video-id="i5XzaLQT7D8">
                {{ i18n "videosRiseMinor" | safeHTML }}
            </a>
            <a class="btn btn-md btn-outline-info video-item mt-4 mr-2" href="#general-custom-macro" 
            data-video-id='{{ if eq .Site.Language.Lang "tr" }}sCHfHgxuDDw{{ else }}wEzTxBhR2SA{{ end }}'>
                {{ i18n "videosCustomMacro" | safeHTML }}
            </a>

            <div id="video-wrapper"></div>
            
        </div>
    </div>
    
</main>

{{ partial "footer" . }}

{{ end }}