{{ define "main" }}

<main role="main">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark shadow">
        <div class="container">
            {{ if eq .Site.Language.Lang "tr" }}
            <a class="navbar-brand" href="/tr">
            {{ else }}
            <a class="navbar-brand" href="/">
            {{ end }}
                <img src="/assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                {{ i18n "header" }}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            PRIEST
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#priest-skills"><img src="/assets/img/guide/heal.png" class="mr-2 video-item">{{ i18n "videosGenie" }}</a>
                            <a class="dropdown-item" href="#priest-bp-farm"><img src="/assets/img/guide/bp-priest.png" class="mr-2 video-item">BP (Battle Priest)</a>
                            <a class="dropdown-item" href="#general-select-monster"><img src="/assets/img/guide/monster-select.png" class="mr-2 video-item">{{ i18n "videosSelectMonster" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">PK</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#priest-attack-combo"><img src="/assets/img/guide/attack-combo.png" class="mr-2 video-item">{{ i18n "videosAttackCombo" }}</a>
                            <a class="dropdown-item" href="#general-smart-hp-mp"><img src="/assets/img/guide/smart-hp-mp.png" class="mr-2 video-item">{{ i18n "videosSmartHpMp" }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ROGUE
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#rogue-skills"><img src="/assets/img/guide/archer.png" class="mr-2 video-item">{{ i18n "videosArcherSkillSettings" }}</a>
                            <a class="dropdown-item" href="#rogue-skills-asas"><img src="/assets/img/guide/asas-combo.png" class="mr-2 video-item">{{ i18n "videosAsasSkillSettings" }}</a>
                            <a class="dropdown-item" href="#general-select-monster"><img src="/assets/img/guide/monster-select.png" class="mr-2 video-item">{{ i18n "videosSelectMonster" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">PK</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#rogue-3-5-combo"><img src="/assets/img/guide/arrows.png" class="mr-2 video-item">{{ i18n "videosArcherCombo35" }}</a>
                            <a class="dropdown-item" href="#rogue-asas-combo"><img src="/assets/img/guide/asas-combo.png" class="mr-2 video-item">{{ i18n "videosAsasCombo" }}</a>
                            <a class="dropdown-item" href="#rogue-minor"><img src="/assets/img/guide/minor.png" class="mr-2 video-item">{{ i18n "videosMinorCombo" }}</a>
                            <a class="dropdown-item" href="#general-smart-hp-mp"><img src="/assets/img/guide/smart-hp-mp.png" class="mr-2 video-item">{{ i18n "videosSmartHpMp" }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            WARRIOR
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#warrior-skills"><img src="/assets/img/guide/attack.png" class="mr-2 video-item">{{ i18n "videosSkillSettings" }}</a>
                            <a class="dropdown-item" href="#general-select-monster"><img src="/assets/img/guide/monster-select.png" class="mr-2 video-item">{{ i18n "videosSelectMonster" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">PK</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#warrior-attack-combo"><img src="/assets/img/guide/attack-combo.png" class="mr-2 video-item">{{ i18n "videosAttackCombo" }}</a>
                            <a class="dropdown-item" href="#warrior-quake-pvp"><img src="/assets/img/guide/quake.png" class="mr-2 video-item">{{ i18n "videosQuakePvp" }}</a>
                            <a class="dropdown-item" href="#general-smart-hp-mp"><img src="/assets/img/guide/smart-hp-mp.png" class="mr-2 video-item">{{ i18n "videosSmartHpMp" }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            MAGE
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#mage-skills"><img src="/assets/img/guide/attack.png" class="mr-2 video-item"> <img src="/assets/img/guide/field-effect.png" class="mr-2 video-item">{{ i18n "videosSkillSettings" }}</a>
                            <a class="dropdown-item" href="#general-select-monster"><img src="/assets/img/guide/monster-select.png" class="mr-2 video-item">{{ i18n "videosSelectMonster" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">PK</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#mage-staff-combo"><img src="/assets/img/guide/staff-combo.png" class="mr-2 video-item">{{ i18n "videosStaffCombo" }}</a>
                            <a class="dropdown-item" href="#general-smart-hp-mp"><img src="/assets/img/guide/smart-hp-mp.png" class="mr-2 video-item">{{ i18n "videosSmartHpMp" }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ i18n "videosGeneral" }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="pl-4 pr-4 mb-0 text-muted">Farm</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#general-ts"><img src="/assets/img/guide/ts.png" class="mr-2 video-item">{{ i18n "videosTs" }}</a>
                            <a class="dropdown-item" href="#general-feed-pet"><img src="/assets/img/guide/pet.png" class="mr-2 video-item">{{ i18n "videosPetFeeding" }}</a>
                            <a class="dropdown-item" href="#general-gm-protection"><img src="/assets/img/guide/gm-protection.png" class="mr-2 video-item">{{ i18n "videosGmProtection" }}</a>
                            <a class="dropdown-item" href="#general-press-keys"><img src="/assets/img/guide/buttons.png" class="mr-2 video-item">{{ i18n "videosPressKeys" }}</a>
                            <div class="dropdown-divider mt-4"></div>
                            <p class="pl-4 pr-4 mb-0 text-muted">{{ i18n "videosOthers" }}</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#general-flood"><img src="/assets/img/guide/flood.png" class="mr-2 video-item">{{ i18n "videosFlood" }}</a>
                            <a class="dropdown-item" href="#general-video-mode"><img src="/assets/img/guide/window-mode.png" class="mr-2 video-item">{{ i18n "videosVideoMode" }}</a>
                            <a class="dropdown-item" href="#general-discord"><img src="/assets/img/discord.png" class="mr-2 video-item">{{ i18n "videosDiscordNotification" }}</a>
                        </div>
                    </li>
                </ul>
                <span class="navbar-text">
                    {{ i18n "videosTopRight" }}
                </span>
            </div>
        </div>
    </nav>

    <div class="bg-white" style="margin-top: 60px;">
        <div class="container">
            {{ if ne .Site.Language.Lang "tr" }}
            <a name="priest"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="alert alert-warning" role="alert">
                Dear players, video guides recorded in Turkish. English subtitles will be available soon. Thank you for your patience.
            </div>
            {{ end }}
            <a name="priest-skills"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">PRIEST</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosGenie" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F670187013908806%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a name="priest-attack-combo"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">PRIEST</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosAttackCombo" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F629030537773240%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a name="priest-bp-farm"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">PRIEST</h5>
                    <h6 class="card-subtitle mb-3 text-muted">BP Priest Farm</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F682727232663740%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <a name="rogue"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <a name="rogue-skills"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">ROGUE</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosArcherSkillSettings" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F675678626682265%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a name="rogue-skills-asas"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">ROGUE</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosAsasSkillSettings" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F478142079812516%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a name="rogue-3-5-combo"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">ROGUE</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosArcherCombo35" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F790562278155071%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            
            <a name="rogue-asas-combo"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">ROGUE</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosAsasCombo" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F359879598786055%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            
            <a name="rogue-minor"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">ROGUE</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosMinorCombo" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F359879598786055%2F&show_text=0&t=162" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <a name="warrior"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <a name="warrior-skills"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">WARRIOR</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosSkillSettings" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F2447986715501128%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a name="warrior-attack-combo"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">WARRIOR</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosAttackCombo" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F629030537773240%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a name="warrior-quake-pvp"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">WARRIOR</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosQuakePvp" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F446620639651700%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div> 

            <a name="mage"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <a name="mage-skills"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">MAGE</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosSkillSettings" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F432739154373470%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div> 
            <a name="mage-staff-combo"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">MAGE</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosStaffCombo" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F340668523699967%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div> 

            <a name="general"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <a name="general-smart-hp-mp"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "videosGeneral" }}</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosSmartHpMp" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F1029184407531131%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a name="general-ts"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "videosGeneral" }}</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosTs" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F358057188632762%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a name="general-select-monster"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "videosGeneral" }}</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosSelectMonster" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F263372711784253%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a name="general-feed-pet"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "videosGeneral" }}</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosPetFeeding" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F355579025768692%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a name="general-gm-protection"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "videosGeneral" }}</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosGmProtection" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F874692023301911%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a name="general-press-keys"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "videosGeneral" }}</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosPressKeys" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F648127615903069%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a name="general-flood"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "videosGeneral" }}</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosFlood" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F685485745424573%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a name="general-video-mode"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "videosGeneral" }}</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosVideoMode" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F366575671422782%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a name="general-discord"><h1 style="padding-top: 60px; margin-top: -60px;"></h1></a>
            <div class="card text-white bg-dark mb-5">
                <div class="card-body">
                    <h5 class="card-title">{{ i18n "videosGeneral" }}</h5>
                    <h6 class="card-subtitle mb-3 text-muted">{{ i18n "videosDiscordNotification" }}</h6>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe loading="lazy" class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmacrokozy%2Fvideos%2F854919161979074%2F&show_text=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</main>

{{ partial "footer" . }}

{{ end }}