{{ define "main" }}

<main role="main">
    {{ partial "top" . }}

    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="list-group">
                    {{ range .Data.Pages }}
                    <a href="{{ .Permalink }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ .Title}}</h5>
                        <small>{{ .Date.Format "January 2, 2006" }}</small>
                    </div>
                    <p class="mb-1">{{ .Description }}</p>
                    </a>
                    {{ end}}
                </div>
            </div>
        </div>
    </div>
</main>

{{ partial "footer" . }}

{{ end }}

