{{ define "main" }}

<!-- Add SEO Schema.org markup -->
{{ partial "seo/organization-schema.html" . }}
{{ partial "seo/software-schema.html" . }}

<main role="main">

    {{ partial "top" . }}
    
    <div class="pt-2 pb-5 bg-white">
        <div class="container-lg">
            {{ partial "guides" . }}
        </div>
    </div>

    <div class="album pt-5 bg-light">
        <div class="container-lg">
            <div class="row">
                {{ partial "features" . }}
            </div>
        </div>
    </div>

    <div class="pt-2 pb-5 bg-white">
        <div class="container-lg pb-5" id="pay">
            {{ partial "pricing" . }}
        </div>
    </div>

    <div class="pt-2 pb-5 bg-light">
        <div class="container-lg">
            {{ partial "updates" . }}
        </div>
    </div>

    <div class="pt-2 pb-5 bg-white">
        <div class="container-lg" id="pay">
            {{ partial "special-release" . }}
        </div>
    </div>

    <div class="pt-2 pb-5 bg-light">
        <div class="container-lg">
            {{ partial "faq" . }}
        </div>
    </div>

    <div id="comments" class="pt-2 pb-5 bg-white">
        <div class="container-lg">
            {{ partial "disqus" . }}
        </div>
    </div>

</main>

<!--{{ partial "notice" . }}-->

{{ partial "footer" . }}

{{ end }}
