{{ define "main" }}

<main role="main">

    {{ partial "top" . }}
    
    <div class="pt-2 pb-5 bg-white">
        <div class="container">
            {{ partial "guides" . }}
        </div>
    </div>

    <div class="album pt-5 bg-light">
        <div class="container">
            <div class="row">
                {{ partial "features" . }}
            </div>
        </div>
    </div>

    <div class="pt-2 pb-4 bg-white">
        <div class="container" id="pay">
            {{ partial "pricing" . }}
        </div>
    </div>

    <div class="pt-2 pb-4 bg-light">
        <div class="container">
            {{ partial "faq" . }}
        </div>
    </div>

    <div id="comments" class="pt-2 pb-4 bg-light">
        <div class="container">
            {{ partial "disqus" . }}
        </div>
    </div>

</main>

{{ partial "footer" . }}

<!--{{ partial "notice" . }}-->

{{ partial "chat" . }}

{{ end }}
